<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Openwriter_Cartmart>
            <version>2.0.5</version>
        </Openwriter_Cartmart>
    </modules>
    <global>
        <models>
        		<dataflow>
        				<rewrite>
        						<profile>Openwriter_Cartmart_Model_Dataflow_Profile</profile>
        				</rewrite>
        		</dataflow>
            <cartmart>
                <class>Openwriter_Cartmart_Model</class>
                <resourceModel>cartmart_mysql4</resourceModel>
            </cartmart>
            <cartmart_mysql4>
                <class>Openwriter_Cartmart_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>openWriter_cartmart_profile</table>
                    </profile>
                    <transaction>
                        <table>openWriter_cartmart_transaction</table>
                    </transaction>
                    <rating>
                        <table>openWriter_cartmart_rating</table>
                    </rating>
                    <rate>
                        <table>openWriter_cartmart_rate</table>
                    </rate>
                    <prooftype>
                        <table>openWriter_cartmart_prooftype</table>
                    </prooftype>
                    <review>
                        <table>openWriter_cartmart_review</table>
                    </review>
                </entities>
            </cartmart_mysql4>
        </models>
        <resources>
            <cartmart_setup>
                <setup>
                    <module>Openwriter_Cartmart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartmart_setup>
            <cartmart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartmart_write>
            <cartmart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartmart_read>
        </resources>
        <blocks>
            <cartmart>
                <class>Openwriter_Cartmart_Block</class>
            </cartmart>
            <sales>
                <rewrite>
                    <order_item_renderer_default>Openwriter_Cartmart_Block_Sales_Order_Item_Renderer_Default</order_item_renderer_default>                    
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_list>Openwriter_Cartmart_Block_Vendor_Profile_Items</product_list>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <system_account_edit_form>Openwriter_Cartmart_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                    <catalog_product_grid>Openwriter_Cartmart_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <system_convert_gui_grid>Openwriter_Cartmart_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                    <system_convert_profile_edit_tab_run>Openwriter_Cartmart_Block_Adminhtml_System_Convert_Profile_Edit_Tab_Run</system_convert_profile_edit_tab_run>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cartmart>
                <class>Openwriter_Cartmart_Helper</class>
            </cartmart>
        </helpers>
        <events>		
			<checkout_onepage_controller_success_action>
				<observers>
					<checkout_onepage_controller_success_action>
						<type>singleton</type>
						<class>Openwriter_Cartmart_Model_Observer</class>
						<method>notifyVendor</method>
					</checkout_onepage_controller_success_action>
				</observers>
			</checkout_onepage_controller_success_action>
			<catalog_product_save_before>
				<observers> 
					<catalog_product_save_before>
						<type>singleton</type>
						<class>Openwriter_Cartmart_Model_Observer</class>
						<method>catalogProductSaveBefore</method>
					</catalog_product_save_before>
				</observers> 
			</catalog_product_save_before>
            <openwriter_domain_authentication>
                <observers>
                    <domain>
                        <class>Openwriter_Cartmart_Model_Authenticate</class>
                        <method>saveDomain</method>
                    </domain>
                </observers>
			</openwriter_domain_authentication>
		</events>
		<template>
			<email>
				<cartmart_email_email_template module="cartmart">
					<label>New Vendor Order</label>
					<file>sales/new_vendor_order.html</file>
					<type>html</type>
				</cartmart_email_email_template>
			</email>
		</template>
    </global>
    <frontend>
        <routers>
            <cartmart>
                <use>standard</use>
                <args>
                    <module>Openwriter_Cartmart</module>
                    <frontName>cartmart</frontName>
                </args>
            </cartmart>
        </routers>
        <layout>
            <updates>
                <cartmart>
                    <file>cartmart.xml</file>
                </cartmart>
            </updates>
        </layout>
        <translate>
            <modules>
                <cartmart>
                    <files>
                        <default>Openwriter_Cartmart.csv</default>
                    </files>
                </cartmart>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <admin_cartmart>
                <use>admin</use>
                <args>
                    <module>Openwriter_Cartmart</module>
                    <frontName>admin_cartmart</frontName>
                </args>
            </admin_cartmart>
            <adminhtml>
                <args>
                    <modules>
                        <Openwriter_Cartmart_Adminhtml_Core before="Mage_Adminhtml">Openwriter_Cartmart_Adminhtml_Core</Openwriter_Cartmart_Adminhtml_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cartmart>
                    <file>cartmart.xml</file>
                </cartmart>
            </updates>
        </layout>
        <translate>
            <modules>
                <cartmart>
                    <files>
                        <default>Openwriter_Cartmart.csv</default>
                    </files>
                </cartmart>
            </modules>
        </translate>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>Openwriter_Cartmart_Model_Product_Observer</class>
                        <method>filterProductCollection</method>
                    </catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>            
        </events>
        <menu>
            <openwriter translate="title" module="adminhtml">
                <title>Openwriter</title>
                <sort_order>80</sort_order>
                <children>
					<cartmart>
						<title>Cart Mart</title>
                        <sort_order>10</sort_order>
                        <children>
							<manage_vendors>
								<title>Manage Vendors</title>
								<sort_order>10</sort_order>
								<action>admin_cartmart/adminhtml_vendor</action>
							</manage_vendors>
							<reviews_ratings>
								<title>Reviews and Ratings</title>
								<sort_order>20</sort_order>
								<children>									
									<pending_reviews>
										<title>Pending Reviews</title>
										<sort_order>10</sort_order>
										<action>admin_cartmart/adminhtml_review/pending</action>
									</pending_reviews>
									<all_reviews>
										<title>All Reviews</title>
										<sort_order>20</sort_order>
										<action>admin_cartmart/adminhtml_review/index</action>
									</all_reviews>										
									<manage_ratings>
										<title>Manage Ratings</title>
										<sort_order>30</sort_order>
										<action>admin_cartmart/adminhtml_rating</action>
									</manage_ratings>
								</children>
							</reviews_ratings>
							<manage_verification>
								<title>Verification</title>
								<sort_order>30</sort_order>
								<children>
									<manage_type>
										<title>Manage Types</title>
										<sort_order>10</sort_order>
										<action>admin_cartmart/adminhtml_prooftype</action>
									</manage_type>
								</children>                                                
							</manage_verification>
						</children>
					</cartmart>                    
                </children>
            </openwriter>            
            <vendor translate="title" module="adminhtml">
                <title>Vendor</title>
                <sort_order>75</sort_order>
                <children>
                    <orders>
                        <title>Orders</title>
                        <sort_order>10</sort_order>
                        <action>admin_cartmart/adminhtml_order</action>
                    </orders>
                    <transaction>
                        <title>Transactions</title>
                        <sort_order>20</sort_order>
                        <action>admin_cartmart/adminhtml_transaction/vendor</action>
                    </transaction>
                    <review>
                        <title>Reviews</title>
                        <sort_order>30</sort_order>
                        <action>admin_cartmart/adminhtml_review/vendor</action>
                    </review>
                </children>
            </vendor>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <vendor>
                            <title>Vendor</title>
                            <children>                                
                                <orders>
                                    <title>Orders</title>
                                </orders>
                                <transaction>
                                    <title>Transactions</title>
                                </transaction>
                                <review>
									<title>Reviews</title>
                                </review>
                            </children>
                        </vendor>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cartmart>
                                            <title>Cart Mart Section</title>
                                        </cartmart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<cartmart>
			<review>
				<page_size>3,6,9</page_size>
			</review>
			<email>
				<email_sender>sales</email_sender>
				<email_template>cartmart_email_email_template</email_template>
			</email>
		</cartmart>
    </default>
</config>
