<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Medma_MarketPlace>
            <version>2.0.3</version>
        </Medma_MarketPlace>
    </modules>
    <global>
        <models>
            <marketplace>
                <class>Medma_MarketPlace_Model</class>
                <resourceModel>marketplace_mysql4</resourceModel>
            </marketplace>
            <marketplace_mysql4>
                <class>Medma_MarketPlace_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>medma_marketplace_profile</table>
                    </profile>
                    <transaction>
                        <table>medma_marketplace_transaction</table>
                    </transaction>
                    <rating>
                        <table>medma_marketplace_rating</table>
                    </rating>
                    <rate>
                        <table>medma_marketplace_rate</table>
                    </rate>
                    <prooftype>
                        <table>medma_marketplace_prooftype</table>
                    </prooftype>
                    <review>
                        <table>medma_marketplace_review</table>
                    </review>
                </entities>
            </marketplace_mysql4>
        </models>
        <resources>
            <marketplace_setup>
                <setup>
                    <module>Medma_MarketPlace</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marketplace_setup>
            <marketplace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketplace_write>
            <marketplace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketplace_read>
        </resources>
        <blocks>
            <marketplace>
                <class>Medma_MarketPlace_Block</class>
            </marketplace>
            <sales>
                <rewrite>
                    <order_item_renderer_default>Medma_MarketPlace_Block_Sales_Order_Item_Renderer_Default</order_item_renderer_default>                    
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_list>Medma_MarketPlace_Block_Vendor_Profile_Items</product_list>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <system_account_edit_form>Medma_MarketPlace_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                    <catalog_product_grid>Medma_MarketPlace_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <marketplace>
                <class>Medma_MarketPlace_Helper</class>
            </marketplace>
        </helpers>
        <events>		
			<checkout_onepage_controller_success_action>
				<observers>
					<checkout_onepage_controller_success_action>
						<type>singleton</type>
						<class>Medma_MarketPlace_Model_Observer</class>
						<method>notifyVendor</method>
					</checkout_onepage_controller_success_action>
				</observers>
			</checkout_onepage_controller_success_action>
			<catalog_product_save_before>
				<observers> 
					<catalog_product_save_before>
						<type>singleton</type>
						<class>Medma_MarketPlace_Model_Observer</class>
						<method>catalogProductSaveBefore</method>
					</catalog_product_save_before>
				</observers> 
			</catalog_product_save_before>
            <medma_domain_authentication>
                <observers>
                    <domain>
                        <class>Medma_MarketPlace_Model_Authenticate</class>
                        <method>saveDomain</method>
                    </domain>
                </observers>
			</medma_domain_authentication>
		</events>
		<template>
			<email>
				<marketplace_email_email_template module="marketplace">
					<label>New Vendor Order</label>
					<file>sales/new_vendor_order.html</file>
					<type>html</type>
				</marketplace_email_email_template>
			</email>
		</template>
    </global>
    <frontend>
        <routers>
            <marketplace>
                <use>standard</use>
                <args>
                    <module>Medma_MarketPlace</module>
                    <frontName>marketplace</frontName>
                </args>
            </marketplace>
        </routers>
        <layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
        <translate>
            <modules>
                <marketplace>
                    <files>
                        <default>Medma_MarketPlace.csv</default>
                    </files>
                </marketplace>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <marketplace>
                <use>admin</use>
                <args>
                    <module>Medma_MarketPlace</module>
                    <frontName>admin_marketplace</frontName>
                </args>
            </marketplace>
            <adminhtml>
                <args>
                    <modules>
                        <Medma_MarketPlace_Adminhtml_Core before="Mage_Adminhtml">Medma_MarketPlace_Adminhtml_Core</Medma_MarketPlace_Adminhtml_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
        <translate>
            <modules>
                <marketplace>
                    <files>
                        <default>Medma_MarketPlace.csv</default>
                    </files>
                </marketplace>
            </modules>
        </translate>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>Medma_MarketPlace_Model_Product_Observer</class>
                        <method>filterProductCollection</method>
                    </catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>            
        </events>
        <menu>
            <medma translate="title" module="adminhtml">
                <title>Medma</title>
                <sort_order>80</sort_order>
                <children>
					<marketplace>
						<title>Market Place</title>
                        <sort_order>10</sort_order>
                        <children>
							<manage_vendors>
								<title>Manage Vendors</title>
								<sort_order>10</sort_order>
								<action>admin_marketplace/adminhtml_vendor</action>
							</manage_vendors>
							<reviews_ratings>
								<title>Reviews and Ratings</title>
								<sort_order>20</sort_order>
								<children>									
									<pending_reviews>
										<title>Pending Reviews</title>
										<sort_order>10</sort_order>
										<action>admin_marketplace/adminhtml_review/pending</action>
									</pending_reviews>
									<all_reviews>
										<title>All Reviews</title>
										<sort_order>20</sort_order>
										<action>admin_marketplace/adminhtml_review/index</action>
									</all_reviews>										
									<manage_ratings>
										<title>Manage Ratings</title>
										<sort_order>30</sort_order>
										<action>admin_marketplace/adminhtml_rating</action>
									</manage_ratings>
								</children>
							</reviews_ratings>
							<manage_verification>
								<title>Verification</title>
								<sort_order>30</sort_order>
								<children>
									<manage_type>
										<title>Manage Types</title>
										<sort_order>10</sort_order>
										<action>admin_marketplace/adminhtml_prooftype</action>
									</manage_type>
								</children>                                                
							</manage_verification>
						</children>
					</marketplace>                    
                </children>
            </medma>            
            <vendor translate="title" module="adminhtml">
                <title>Vendor</title>
                <sort_order>75</sort_order>
                <children>
                    <orders>
                        <title>Orders</title>
                        <sort_order>10</sort_order>
                        <action>admin_marketplace/adminhtml_order</action>
                    </orders>
                    <transaction>
                        <title>Transactions</title>
                        <sort_order>20</sort_order>
                        <action>admin_marketplace/adminhtml_transaction/vendor</action>
                    </transaction>
                    <review>
                        <title>Reviews</title>
                        <sort_order>30</sort_order>
                        <action>admin_marketplace/adminhtml_review/vendor</action>
                    </review>
                </children>
            </vendor>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <vendor>
                            <title>Vendor</title>
                            <children>                                
                                <orders>
                                    <title>Orders</title>
                                </orders>
                                <transaction>
                                    <title>Transactions</title>
                                </transaction>
                                <review>
									<title>Reviews</title>
                                </review>
                            </children>
                        </vendor>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <marketplace>
                                            <title>Market Place Section</title>
                                        </marketplace>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<marketplace>
			<review>
				<page_size>3,6,9</page_size>
			</review>
			<email>
				<email_sender>sales</email_sender>
				<email_template>marketplace_email_email_template</email_template>
			</email>
		</marketplace>
    </default>
</config>
